.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.app-searchForm{
  margin-top: 1rem;
}

.app-input{
  padding: 0.5rem 1rem;
  min-width: 200px;
  max-width: 100vh;
  font-size: 1rem;
}

.app-submit{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  background-color: #02aff0;
  border: 2px solid #02aff0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.app-submit:hover{
  background-color: white;
  color: #02aff0;
}

.app-recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}

.app-healthLabel{
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
}